## Séries Temporais no Pandas

### O que é um Série temporal: Um conjunto de dados onde cada linha representa um momento diferente no tempo

#### Isso é muito util quando trabalha com dados em produção em tempo Real, como cotações de ações (preço da açao no tempo, valores intraday, valores dia a dia..)

In [1]:
import pandas as pd

In [2]:
numero_de_dias = 100

In [3]:
# date_range percorre os dias pelo inicio e o periodo estabelecido
datas = pd.date_range(start='1/1/2021', periods=numero_de_dias)
# Uma funçao util para criar valores espaçados no tempo

In [6]:
# retorna 100 dias a partir do dia 1/1/2021, e para no dia 10/04/2021
datas

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# utilizando o 'datas' para preencher o indice de um DF arbitrario
df = pd.DataFrame(range(numero_de_dias), columns=["number"], index=datas)
# Criou uma Serie, onde o range é o num de dias, e o index são as datas.
df

            number
2021-01-01       0
2021-01-02       1
2021-01-03       2
2021-01-04       3
2021-01-05       4
...            ...
2021-04-06      95
2021-04-07      96
2021-04-08      97
2021-04-09      98
2021-04-10      99

[100 rows x 1 columns]

In [7]:
# Observe o Tipo, 'DatetimeIndex', é um index que contem infos do tipo datetime
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
#pegando a primeira posição e escolhendo os valores, como abaixo
df.index[0]

Timestamp('2021-01-01 00:00:00', freq='D')

In [9]:
df.index[0].day

1

In [10]:
df.index[0].month

1

In [11]:
df.index[0].year

2021

In [12]:
df.index[0].hour

0

In [13]:
# df[df.index.month == 1] # pega todos os valores de Janeiro
df[df.index.day == 10] # Pega todos os dias 10

            number
2021-01-10       9
2021-02-10      40
2021-03-10      68
2021-04-10      99

In [14]:
# Criando uma Coluna Mes, e colocar os meses respectivos, pode ser utilizada para fazer um filtro...
df["Month"] = df.index.month
df

            number  Month
2021-01-01       0      1
2021-01-02       1      1
2021-01-03       2      1
2021-01-04       3      1
2021-01-05       4      1
...            ...    ...
2021-04-06      95      4
2021-04-07      96      4
2021-04-08      97      4
2021-04-09      98      4
2021-04-10      99      4

[100 rows x 2 columns]

In [15]:
import datetime

In [17]:
# Fazendo Operaçao de Maior com Datas, no caso a data é a primeira ent vai puxar os 100, apenas um exemplo.
df[df.index > datetime.datetime(2021, 1, 10)]

            number  Month
2021-01-11      10      1
2021-01-12      11      1
2021-01-13      12      1
2021-01-14      13      1
2021-01-15      14      1
...            ...    ...
2021-04-06      95      4
2021-04-07      96      4
2021-04-08      97      4
2021-04-09      98      4
2021-04-10      99      4

[90 rows x 2 columns]