In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())
# o pd.DataFrame, cria uma 'tabela', com o randn de 5 linhas e 4 colunas de numeros aleatorios.

# Metodo Slipt quebra em uma lista de strings

In [3]:
df
# Mostrando a tabela (DataFrame) com os numeros aleatórios

          W         X         Y         Z
A -0.092088  0.374514  0.369449 -0.727967
B  1.390980 -1.022536  1.316729 -0.579778
C -1.403237  0.362705 -0.665453  0.459495
D  0.748052  0.028593  1.768899  1.687557
E -1.965851 -1.920426  0.163085  0.148634

In [4]:
#retorna uma lista, olhando os indices, as linhas
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [5]:
# olhando as colunas
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [8]:
# Joga meu indice(index) para fora, e add os numeros
df.reset_index()
# quando ele retorna algo no pandas muito provavelmente ele nao alterou o original
# para salvar tem que passasr o comando,
# df.reset_index(inplace=True)

  index         W         X         Y         Z
0     A -0.092088  0.374514  0.369449 -0.727967
1     B  1.390980 -1.022536  1.316729 -0.579778
2     C -1.403237  0.362705 -0.665453  0.459495
3     D  0.748052  0.028593  1.768899  1.687557
4     E -1.965851 -1.920426  0.163085  0.148634

In [15]:
# df original segue sem alteraçoes.
df

# Caso tivesse feita a alteraçao do reset_index, para voltar ao original, passaria o comando,
# df.set_index("index", inplace=True)

          W         X         Y         Z novo_index
A -0.092088  0.374514  0.369449 -0.727967         CA
B  1.390980 -1.022536  1.316729 -0.579778         NY
C -1.403237  0.362705 -0.665453  0.459495         WY
D  0.748052  0.028593  1.768899  1.687557         OR
E -1.965851 -1.920426  0.163085  0.148634         CO

### Passando uma nova coluna

In [10]:
novoindx = 'CA NY WY OR CO'.split()

In [11]:
# para encaixar a lista o pandas pede que tenha o msm tamanho.
df["novo_index"] = novoindx

In [13]:
#passando sem o reset

df.set_index("novo_index")

                   W         X         Y         Z
novo_index
CA         -0.092088  0.374514  0.369449 -0.727967
NY          1.390980 -1.022536  1.316729 -0.579778
WY         -1.403237  0.362705 -0.665453  0.459495
OR          0.748052  0.028593  1.768899  1.687557
CO         -1.965851 -1.920426  0.163085  0.148634

In [14]:
#passando com o reset

df.reset_index().set_index("novo_index")

           index         W         X         Y         Z
novo_index
CA             A -0.092088  0.374514  0.369449 -0.727967
NY             B  1.390980 -1.022536  1.316729 -0.579778
WY             C -1.403237  0.362705 -0.665453  0.459495
OR             D  0.748052  0.028593  1.768899  1.687557
CO             E -1.965851 -1.920426  0.163085  0.148634