### Hierarquia de indices e indices multiplos

In [8]:
import pandas as pd
import numpy as np

In [9]:
# Niveis de Indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3, 1,2,3]
# Uma lista onde eu zipo junto as outras 2 listas
hier_index = list(zip(outside, inside))

In [10]:
# Tenho uma Tupla contendo um par, é isso que o metodo faz, ele encaixa as 2 listas
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
# seria uma outra forma de visualizar a tupla, esse é um indice multiplo
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
# Criando um DF com 6linhas e 2 colunas, seria 2 camadas de indices..
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1  0.674882 -0.399370
   2 -0.158662 -2.500595
   3  0.996028  0.000980
G2 1  0.597643  0.637186
   2 -0.995439 -1.363036
   3  0.106887 -2.138259

In [14]:
# Pegando somente o DF do indice G1
df.loc["G1"]

          A         B
1  0.674882 -0.399370
2 -0.158662 -2.500595
3  0.996028  0.000980

In [15]:
# Pegando os valores da linha 1, passa o indice, dps a linha, como no ex abaixo,
df.loc["G1"].loc[1]

A    0.674882
B   -0.399370
Name: 1, dtype: float64

In [21]:
# Definindo os nomes dos indices, mas nn é necessario para trabalhar.. como nos ex acima,
df.index.names

df.index.names = ['Grupo', 'Numero']

df

                     A         B
Grupo Numero
G1    1       0.674882 -0.399370
      2      -0.158662 -2.500595
      3       0.996028  0.000980
G2    1       0.597643  0.637186
      2      -0.995439 -1.363036
      3       0.106887 -2.138259

In [19]:
# Funçao xs, que permite fazer cortes e operaçoes semelhantes ao LOC, com uma unica diferença, 
# Ele permite acessar o 2˚ indice, o 2˚ nivel (Numero), desde que eu especifique.
# Aqui no caso esta cortando apenas o G1
df.xs('G1')

               A         B
Numero
1       0.674882 -0.399370
2      -0.158662 -2.500595
3       0.996028  0.000980

In [20]:
# Retornando apenas o grupo 1, filtrando pelo numero,
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.674882 -0.399370
G2     0.597643  0.637186