In [ ]:
Series sao composicoes de tabelas

Cada coluna de um dataframe, é um Serie

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']

minha_lista = [10, 20, 30]

arr = np.array([10, 20, 30])

d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [4]:
pd.Series(data=labels, index=minha_lista)
# eu passo o indice da minha escolha

10    a
20    b
30    c
dtype: object

In [6]:
pd.Series(labels, minha_lista)
# mesma coisa da tabela de cima, porque por padrao é o que a Series pede, para ver click na 'Series; Shift + Tab

10    a
20    b
30    c
dtype: object

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(d)
# pandas conversa muito bem com dicionarios, ele entende os indices a as chaves.

a    10
b    20
c    30
dtype: int64

In [9]:
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'Russia', 'Japão'])

In [10]:
ser1

EUA         1
Alemanha    2
Russia      3
Japão       4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'Italia', 'Japão'])

In [12]:
ser2

EUA         1
Alemanha    2
Italia      3
Japão       4
dtype: int64

In [14]:
ser1['EUA']

#lista de string.
ser1[['Alemanha', 'Russia']]

# para selecionar as Series, basta colocar entre [], exemplo acima

Alemanha    2
Russia      3
dtype: int64

In [15]:
ser1 + ser2
# faz a soma, olhando indice por indice, os que tem indice igual ele soma, os que nao encontra da NaN.

# Operações no pandas são orientadas por indice.

Alemanha    4.0
EUA         2.0
Italia      NaN
Japão       8.0
Russia      NaN
dtype: float64