# Data Frames

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())
# o pd.DataFrame, cria uma 'tabela', com o randn de 5 linhas e 4 colunas de numeros aleatorios.

# Metodo Slipt quebra em uma lista de strings

In [3]:
df
# Mostrando a tabela (DataFrame) com os numeros aleatórios

          W         X         Y         Z
A -0.163009 -0.095575 -1.080349 -0.207306
B -1.355783  2.344705  0.298775  0.848239
C  0.740109  0.436661 -1.622706  2.110510
D -0.713081  1.818529  0.527633  0.277916
E -1.453239 -1.320915  1.775528 -0.859121

In [4]:
type(df)
# mostra o tipo

pandas.core.frame.DataFrame

In [5]:
# Quando estou trabalhando com Series, tenho que especificar o *Indice* na seleçao de []

# Quando trabalhar com DataFrames, especificar a *Coluna* na seleção de [], ex abaixo:

df['W']
# type(df['W']) # mostra que é uma Series

# df[['W']] # Me retorna no formado de DataFrame, por padrão é Series, mas fznd uma força retorna em DF

A   -0.163009
B   -1.355783
C    0.740109
D   -0.713081
E   -1.453239
Name: W, dtype: float64

In [6]:
df[['W', 'X']]

# Passando como lista

          W         X
A -0.163009 -0.095575
B -1.355783  2.344705
C  0.740109  0.436661
D -0.713081  1.818529
E -1.453239 -1.320915

In [7]:
df["new"] = df['W'] + df['Y']

# Pedindo para o DataFrame criar a coluna 'new' com a soma dos valores das Colunas W + Y

# df["new"] = df['W'] # Cria uma copia de 'W' para 'new'

In [8]:
df

          W         X         Y         Z       new
A -0.163009 -0.095575 -1.080349 -0.207306 -1.243358
B -1.355783  2.344705  0.298775  0.848239 -1.057009
C  0.740109  0.436661 -1.622706  2.110510 -0.882597
D -0.713081  1.818529  0.527633  0.277916 -0.185448
E -1.453239 -1.320915  1.775528 -0.859121  0.322288

### Como Remover Colunas

In [9]:
#del df["new"]
# del do python, ele vai tirar ela

In [10]:
df.drop(['new'], axis=1)
# drop conseguimos tirar linhas ou colunas, mas por Padrão ele tira Colunas

# axis é o eixo, 1 corresponde a Colunas e 0 a Linhas

# ele 'deletou'... mostra o resultado de como ira ficar a ação desejada, so que em uma copia
# para deletar a original, veja os exemplos abaixo.

          W         X         Y         Z
A -0.163009 -0.095575 -1.080349 -0.207306
B -1.355783  2.344705  0.298775  0.848239
C  0.740109  0.436661 -1.622706  2.110510
D -0.713081  1.818529  0.527633  0.277916
E -1.453239 -1.320915  1.775528 -0.859121

In [11]:
df
# a grande maioria das funcoes do pandas, nao altera o Original, ela faz uma copia e altera.

# para que se vc queira preservar o original e ter uma copia com as alteraçoes

          W         X         Y         Z       new
A -0.163009 -0.095575 -1.080349 -0.207306 -1.243358
B -1.355783  2.344705  0.298775  0.848239 -1.057009
C  0.740109  0.436661 -1.622706  2.110510 -0.882597
D -0.713081  1.818529  0.527633  0.277916 -0.185448
E -1.453239 -1.320915  1.775528 -0.859121  0.322288

In [12]:
df2 = df.drop('new', axis=1)
# apenas criando uma copia com a Coluna 'New' deletada

In [13]:
df.drop('new', axis=1, inplace=True)
# Observe que nao tem retorno, ele deletou o original, nao as copias.

In [14]:
df

          W         X         Y         Z
A -0.163009 -0.095575 -1.080349 -0.207306
B -1.355783  2.344705  0.298775  0.848239
C  0.740109  0.436661 -1.622706  2.110510
D -0.713081  1.818529  0.527633  0.277916
E -1.453239 -1.320915  1.775528 -0.859121

## Seleção em Linhas

##### Temos 2 'metodos'(formas de fazer a seleção), loc e iloc.

In [15]:
df.loc['A']
# loc, acessa as linhas da mesma forma que acessar o indice, Para melhor compreensão observe a tabela acima eo retorno

# ele fez uma transposiçao, devolveu as colunas em linhas, devolveu umas Series

W   -0.163009
X   -0.095575
Y   -1.080349
Z   -0.207306
Name: A, dtype: float64

In [17]:
df.iloc[0, 2]
# iloc, vou trabalhar com os valores de forma numeria.

# posso acessar os elementos, passando indice da Coluna e indice da Linha

# Sempre passar o indice da LINHA e dps Coluna

-1.080348665668587

In [ ]:
# No dataframe o que vem dentro dos colchetes, [''] definimos pelas colunas