### Iloc e Filtros

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())
# o pd.DataFrame, cria uma 'tabela', com o randn de 5 linhas e 4 colunas de numeros aleatorios.

# Metodo Slipt quebra em uma lista de strings

In [3]:
df
# Mostrando a tabela (DataFrame) com os numeros aleatórios

          W         X         Y         Z
A  0.851557 -0.899519 -0.861332  0.179909
B -0.824758 -0.120078  0.483197  0.661060
C  0.352806  0.787453  1.371911 -0.791059
D  0.421288  0.331323 -1.336813 -1.316236
E -0.693253  0.099144  1.136027  1.480901

## Seleção em Linhas

##### Temos 2 'metodos'(formas de fazer a seleção), loc e iloc.

In [4]:
df.loc['A']
# loc, acessa as linhas da mesma forma que acessar o indice, Para melhor compreensão observe a tabela acima eo retorno

# ele fez uma transposiçao, devolveu as colunas em linhas, devolveu umas Series

W    0.851557
X   -0.899519
Y   -0.861332
Z    0.179909
Name: A, dtype: float64

In [5]:
df.loc[['A', 'B']]
# passando listas

# df.loc[['A', 'B'], 'W']
# Tudo que vir dps da ',' virgula, passa a se referir as colunas

          W         X         Y         Z
A  0.851557 -0.899519 -0.861332  0.179909
B -0.824758 -0.120078  0.483197  0.661060

In [6]:
df.iloc[0, 2]
# iloc, vou trabalhar com os valores de forma numeria.

# posso acessar os elementos, passando indice da Coluna e indice da Linha

# Sempre passar o indice da LINHA e dps Coluna

-0.8613322137105563

In [7]:
df.loc[['A', 'B'], ['W']] # retorna no formato de DataFrame

# df.loc[['A', 'B'], 'W'] # retorna no formato de Series

# passando as linhas e pegando o resultado apenas da coluna 'W'

          W
A  0.851557
B -0.824758

In [8]:
df

          W         X         Y         Z
A  0.851557 -0.899519 -0.861332  0.179909
B -0.824758 -0.120078  0.483197  0.661060
C  0.352806  0.787453  1.371911 -0.791059
D  0.421288  0.331323 -1.336813 -1.316236
E -0.693253  0.099144  1.136027  1.480901

In [9]:
df.iloc[:-1, :]
# :-1 (o ':' representa para pegar toda a coluna, o '-1' para tirar a ultima coluna)

          W         X         Y         Z
A  0.851557 -0.899519 -0.861332  0.179909
B -0.824758 -0.120078  0.483197  0.661060
C  0.352806  0.787453  1.371911 -0.791059
D  0.421288  0.331323 -1.336813 -1.316236

In [10]:
df.iloc[1:4, 1:3]
# ele nao pega o ultimo valor, dps dos ':'... so olhar o ex: 1(o 0 seria linha A, a linha 1 é B), o 4 seria linha E, mas nn pega.. vai só até a D
# tudo que eu incluo antes dos ':', vai ser incluso na seleçao
 
# Isso é util para usar em um DataFrame que contenha informações matriciais,

          X         Y
B -0.120078  0.483197
C  0.787453  1.371911
D  0.331323 -1.336813

In [12]:
df + df
# Faz as somas dos DataFrame

          W         X         Y         Z
A  1.703115 -1.799038 -1.722664  0.359817
B -1.649516 -0.240156  0.966394  1.322119
C  0.705612  1.574907  2.743823 -1.582118
D  0.842577  0.662646 -2.673625 -2.632472
E -1.386507  0.198287  2.272055  2.961801

In [13]:
df > 0
# retorna os dados(valores) que 0 como TRUE

       W      X      Y      Z
A   True  False  False   True
B  False  False   True   True
C   True   True   True  False
D   True   True  False  False
E  False   True   True   True

In [14]:
df[df > 0]
# Retorna um DataFrame que contem os dados maiores que 0

          W         X         Y         Z
A  0.851557       NaN       NaN  0.179909
B       NaN       NaN  0.483197  0.661060
C  0.352806  0.787453  1.371911       NaN
D  0.421288  0.331323       NaN       NaN
E       NaN  0.099144  1.136027  1.480901

In [15]:
df['Z'] > 0

A     True
B     True
C    False
D    False
E     True
Name: Z, dtype: bool

In [16]:
df[df['Y'] > 0]
# Retorna um DataDrame que na coluna Y seja maior que 0, PARA MELHOR ENTENDIMENTO COMPARE COM O DATAFRAME PADRAO.

          W         X         Y         Z
B -0.824758 -0.120078  0.483197  0.661060
C  0.352806  0.787453  1.371911 -0.791059
E -0.693253  0.099144  1.136027  1.480901

In [17]:
df[(df['Y'] > 0) & (df['W'] > 0)]
(df['Y'] > 0) & (df['W'] > 0)
# So retorna TRUE onde as 2 colunas 'Y' e 'W', forem >(maior) que 0

A    False
B    False
C     True
D    False
E    False
dtype: bool